<a href="https://colab.research.google.com/github/RanjaniGanesh/SQLDB/blob/main/SQLDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install db-sqlite3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: db-sqlite3 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: db in /usr/local/lib/python3.7/dist-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in /usr/local/lib/python3.7/dist-packages (from db->db-sqlite3) (1.2.1)

In [2]:
import sqlite3

In [3]:
conn =sqlite3.connect("SQL.db")
#cursor =connection.cursor()
#print(cursor)

In [4]:
conn.execute('''create table Employee(S_No INTEGER PRIMARY KEY ,First_Name text not null, Last_Name text not null, Email_id text not null,
                  Department text not null, Salary int not null, Join_Date  date ); ''')

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 84))

OperationalError: ignored

In [6]:
conn.commit()

In [7]:
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', '20000', '05-05-2020');")

In [8]:
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', '65000', '12-05-2010');")

In [9]:
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', '65000', '12-05-2010');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', '65000', '12-10-2011');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', '40000', '21-01-2015');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', '45000', '15-10-2013');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', '50000', '04-07-2017');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', '28000', '23-10-2021');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', '20000', '23-05-2020');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', '20000', '12-10-2021');")

In [10]:
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', '60000', '12-12-2011');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', '45000', '05-12-2021');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', '45000', '12-05-2022');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', '50000', '02-07-2009');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', '60000', '25-07-2010');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', '60000', '08-11-2010');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Padma','Priya','padmapriya@guvi.com','Software Engineer','35000','01-08-2019');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Kavi','Arasan','kaviarasan@guvi.com','Software Engineer','40000','23-05-2020');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Raj','Kumar','rajkumar@guvi.com','Software Application Packager','55000','01-06-2019');")
conn.execute("INSERT INTO Employee(First_name,Last_name,Email_id,Department,Salary,Join_date) VALUES ('Dhanya','Surabi','dhanyasurabi@guvi.com','Mobile Developer','30000','05-07-2020');")

In [11]:
conn.execute('''INSERT INTO Employee (First_name,Last_name,Email_id,Department,Salary,Join_date)
VALUES 
('Raj','Kumar','rajkumar@guvi.com','Software Application Packager','55000','01-06-2019'),
('Dhanya','Surabi','dhanyasurabi@guvi.com','Mobile Developer','30000','05-07-2020'),
('Bharath','Raj','bharathraj@guvi.com','Software Engineer','40000','28-09-2021'),
('Abdhul','Hameed','abdhulhameed@guvi.com','Senior Software Engineer','60000','12-06-2019'),
('Abhishek','Sharma','abhisheksharma@guvi.com','System Analyst','50000','22-05-2018'),
('Ramesh','Babu','rameshbabu@guvi.com','Senior Software Engineer','60000','17-06-2018'),
('Santhosh','Kumar','santhoshkumar@guvi.com','System Analyst','50000','22-06-2020'),
('Vignesh','kumar','vigneshkumar@guvi.com','Data Scientist','70000','22-03-2020'),
('Hari','Doss','haridoss@guvi.com','Web Developer','20000','16-06-2019'),
('Sai','Balaji','saibalaji@guvi.com','Mobile Developer','25000','12-09-2019'),
('Tamil','Arasu','tamilarasu@guvi.com','Web Developer','20000','28-09-2021'),
('Senthamizh','Selvan','senthamizhselvan@guvi.com','Network Administrator','40000','16-11-2021'),
('Linga','Mithra','lingamithra@guvi.com','Senior Software Engineer','60000','27-04-2019'),
('Raheema','Sulthana','raheemasulthana@guvi.com','Software Engineer','40000','17-09-2020'),
('Vasantha','Mohan','vasanthamohan@guvi.com','Senior Software Engineer','60000','11-11-2017'),
('Shiva','Raj','shivaraj@guvi.com','Network Administrator','40000','14-08-2017'),
('Kamala','Devi','kamaladevi@guvi.com','Mobile Developer','25000','05-07-2020'),
('Iniyan','Venkat','iniyanvenkat@guvi.com','Software Developer','30000','20-02-2020'),
('Kriba','Karan','kribakaran@guvi.com','Mobile Developer','30000','31-05-2021'),
('Sathish','Kumar','sathishkumar@guvi.com','System Analyst','45000','17-09-2019'),
('Shiva','Ranjani','shivaranjani@guvi.com','Software Engineer','40000','23-05-2019'),
('Sukirtha','Sri','sukirthasri@guvi.com','Web Developer','25000','19-10-2021'),
('Mathi','Azhagan','mathiazhagan@guvi.com','Network Administrator','40000','15-06-2017'),
('Karthigai','Selvi','karthigaiselvi@guvi.com','Web Developer','25000','13-03-2019'),
('Kishore','Kannan','kishorekannan@guvi.com','Network Administrator','40000','11-09-2021'),
('Henry','Roshan','henryroshan@guvi.com','Web Developer','20000','10-09-2019'),
('Prabhu','Deva','prabhudeva@guvi.com','System Analyst','50000','11-11-2011'),
('Kithur','Sumaresh','kithursumaresh@guvi.com','Mobile Developer','25000','17-10-2020'),
('Bala','Shankar','balashankar@guvi.com','Software Developer','30000','21-10-2017'),
('Sathya','Priya','sathyapriya@guvi.com','Mobile Developer','30000','19-10-2019'),
('Shanmuga','Priya','shanmugapriya@guvi.com','Software Engineer','40000','08-06-2020'),
('Gowry','Shankar','gowryshankar@guvi.com','Senior Software Engineer','55000','10-08-2017'),
('Sibin','Xavier','sibinxavier@guvi.com','Software Engineer','40000','20-02-2015')
;''')

In [12]:
cursor = conn.execute(''' SELECT * from Employee''')
for row in cursor:
  print(row)

(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(2, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(6, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 45000, '15-10-2013')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(8, 'Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', 28000, '23-10-2021')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(10, 'Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', 20000, '12-10-2021')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(12, 'Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', 45000, '05-12-2021')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(14, 'Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', 50000, '02-07-2009')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')
(17, 'Padma', 'Priya', 'padmapriya@guvi.com', 'Software Engineer', 35000, '01-08-2019')
(18, 'Kavi', 'Arasan', 'kaviarasan@guvi.com', 'Software Engineer', 40000, '23-05-2020')
(19, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(20, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(21, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(22, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(23, 'Bharath', 'Raj', 'bharathraj@guvi.com', 'Software Engineer', 40000, '28-09-2021')
(24, 'Abdhul', 'Hameed', 'abdhulhameed@guvi.com', 'Senior Software Engineer', 60000, '12-06-2019')
(25, 'Abhishek', 'Sharma', 'abhisheksharma@guvi.com', 'System Analyst', 50000, '22-05-2018')
(26, 'Ramesh', 'Babu', 'rameshbabu@guvi.com', 'Senior Software Engineer', 60000, '17-06-2018')
(27, 'Santhosh', 'Kumar', 'santhoshkumar@guvi.com', 'System Analyst', 50000, '22-06-2020')
(28, 'Vignesh', 'kumar', 'vigneshkumar@guvi.com', 'Data Scientist', 70000, '22-03-2020')
(29, 'Hari', 'Doss', 'haridoss@guvi.com', 'Web Developer', 20000, '16-06-2019')
(30, 'Sai', 'Balaji', 'saibalaji@guvi.com', 'Mobile Developer', 25000, '12-09-2019')
(31, 'Tamil', 'Arasu', 'tamilarasu@guvi.com', 'Web Developer', 20000, '28-09-2021')
(32, 'Senthamizh', 'Selvan', 'senthamizhselvan@guvi.com', 'Network Administrator', 40000, '16-11-2021')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(34, 'Raheema', 'Sulthana', 'raheemasulthana@guvi.com', 'Software Engineer', 40000, '17-09-2020')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')
(36, 'Shiva', 'Raj', 'shivaraj@guvi.com', 'Network Administrator', 40000, '14-08-2017')
(37, 'Kamala', 'Devi', 'kamaladevi@guvi.com', 'Mobile Developer', 25000, '05-07-2020')
(38, 'Iniyan', 'Venkat', 'iniyanvenkat@guvi.com', 'Software Developer', 30000, '20-02-2020')
(39, 'Kriba', 'Karan', 'kribakaran@guvi.com', 'Mobile Developer', 30000, '31-05-2021')
(40, 'Sathish', 'Kumar', 'sathishkumar@guvi.com', 'System Analyst', 45000, '17-09-2019')
(41, 'Shiva', 'Ranjani', 'shivaranjani@guvi.com', 'Software Engineer', 40000, '23-05-2019')
(42, 'Sukirtha', 'Sri', 'sukirthasri@guvi.com', 'Web Developer', 25000, '19-10-2021')
(43, 'Mathi', 'Azhagan', 'mathiazhagan@guvi.com', 'Network Administrator', 40000, '15-06-2017')
(44, 'Karthigai', 'Selvi', 'karthigaiselvi@guvi.com', 'Web Developer', 25000, '13-03-2019')
(45, 'Kishore', 'Kannan', 'kishorekannan@guvi.com', 'Network Administrator', 40000, '11-09-2021')
(46, 'Henry', 'Roshan', 'henryroshan@guvi.com', 'Web Developer', 20000, '10-09-2019')
(47, 'Prabhu', 'Deva', 'prabhudeva@guvi.com', 'System Analyst', 50000, '11-11-2011')
(48, 'Kithur', 'Sumaresh', 'kithursumaresh@guvi.com', 'Mobile Developer', 25000, '17-10-2020')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')
(50, 'Sathya', 'Priya', 'sathyapriya@guvi.com', 'Mobile Developer', 30000, '19-10-2019')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(52, 'Gowry', 'Shankar', 'gowryshankar@guvi.com', 'Senior Software Engineer', 55000, '10-08-2017')
(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')

Write an SQL query to fetch “FIRST_NAME” from the Employee table using the alias name as WORKER_NAME.

In [13]:
cursor =conn.execute("Select First_Name AS WORKER_NAME from Employee");
for row in cursor:
  print(row)

('Sidharth',)
('Aadhitya',)
('Aadhitya',)
('Mona',)
('Anupama',)
('Sibin',)
('Akshai',)
('Krithika',)
('Adithi',)
('Abhinaya',)
('Jismi',)
('Dhivya',)
('Cyril',)
('Keerthiga',)
('Laxmi',)
('Shiva',)
('Padma',)
('Kavi',)
('Raj',)
('Dhanya',)
('Raj',)
('Dhanya',)
('Bharath',)
('Abdhul',)
('Abhishek',)
('Ramesh',)
('Santhosh',)
('Vignesh',)
('Hari',)
('Sai',)
('Tamil',)
('Senthamizh',)
('Linga',)
('Raheema',)
('Vasantha',)
('Shiva',)
('Kamala',)
('Iniyan',)
('Kriba',)
('Sathish',)
('Shiva',)
('Sukirtha',)
('Mathi',)
('Karthigai',)
('Kishore',)
('Henry',)
('Prabhu',)
('Kithur',)
('Bala',)
('Sathya',)
('Shanmuga',)
('Gowry',)
('Sibin',)

Write an SQL query to fetch unique values of DEPARTMENT from the Employee table.

In [14]:
cursor =conn.execute("Select distinct DEPARTMENT from Employee");
for rows in cursor:
  print(rows)

('Web developer',)
('Senior Software Engineer',)
('Software Engineer',)
('System Analyst',)
('Game Developer',)
('Hardware Engineer',)
('Web Developer',)
('Software Application Packager',)
('Mobile Developer',)
('Data Scientist',)
('Network Administrator',)
('Software Developer',)

Write an SQL query to show the last 5 records from a table.

In [17]:
cursor =conn.execute("SELECT * from Employee ORDER BY S_No DESC LIMIT 5");
for rows in cursor:
  print(rows)

(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')
(52, 'Gowry', 'Shankar', 'gowryshankar@guvi.com', 'Senior Software Engineer', 55000, '10-08-2017')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(50, 'Sathya', 'Priya', 'sathyapriya@guvi.com', 'Mobile Developer', 30000, '19-10-2019')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')

Write an SQL query to print the first three characters of FIRST_NAME from Worker

In [18]:
cursor = conn.execute("Select SUBSTR(First_Name,1,3)as ExtractString from Employee");
for rows in cursor:
  print(rows)

('Sid',)
('Aad',)
('Aad',)
('Mon',)
('Anu',)
('Sib',)
('Aks',)
('Kri',)
('Adi',)
('Abh',)
('Jis',)
('Dhi',)
('Cyr',)
('Kee',)
('Lax',)
('Shi',)
('Pad',)
('Kav',)
('Raj',)
('Dha',)
('Raj',)
('Dha',)
('Bha',)
('Abd',)
('Abh',)
('Ram',)
('San',)
('Vig',)
('Har',)
('Sai',)
('Tam',)
('Sen',)
('Lin',)
('Rah',)
('Vas',)
('Shi',)
('Kam',)
('Ini',)
('Kri',)
('Sat',)
('Shi',)
('Suk',)
('Mat',)
('Kar',)
('Kis',)
('Hen',)
('Pra',)
('Kit',)
('Bal',)
('Sat',)
('Sha',)
('Gow',)
('Sib',)

Write an SQL query to find the position of the alphabet (‘a’) in the first name

In [19]:
cursor = conn.execute("Select INSTR(First_Name, 'a') from Employee where First_Name = 'Sidharth'");
for row in cursor:
  print(row)

(5,)

Write an SQL query to print the name of employees who have the highest salary in each department.

In [20]:
cursor =conn.execute("SELECT First_Name from Employee where Salary =(SELECT MAX(Salary)from Employee) ");
for rows in cursor:
  print(rows)

('Vignesh',)

Write an SQL query to print the FIRST_NAME from the Worker table after removing white spaces from the right side

In [21]:
cursor =conn.execute("Select RTRIM(First_Name) from Employee");
for rows in cursor:
  print(rows)

('Sidharth',)
('Aadhitya',)
('Aadhitya',)
('Mona',)
('Anupama',)
('Sibin',)
('Akshai',)
('Krithika',)
('Adithi',)
('Abhinaya',)
('Jismi',)
('Dhivya',)
('Cyril',)
('Keerthiga',)
('Laxmi',)
('Shiva',)
('Padma',)
('Kavi',)
('Raj',)
('Dhanya',)
('Raj',)
('Dhanya',)
('Bharath',)
('Abdhul',)
('Abhishek',)
('Ramesh',)
('Santhosh',)
('Vignesh',)
('Hari',)
('Sai',)
('Tamil',)
('Senthamizh',)
('Linga',)
('Raheema',)
('Vasantha',)
('Shiva',)
('Kamala',)
('Iniyan',)
('Kriba',)
('Sathish',)
('Shiva',)
('Sukirtha',)
('Mathi',)
('Karthigai',)
('Kishore',)
('Henry',)
('Prabhu',)
('Kithur',)
('Bala',)
('Sathya',)
('Shanmuga',)
('Gowry',)
('Sibin',)

Write an SQL query that fetches the unique values of DEPARTMENT from the Worker table and prints its length.

In [22]:
cursor =conn.execute("Select distinct length(Department) from Employee");
for rows in cursor:
  print(rows)

(13,)
(24,)
(17,)
(14,)
(29,)
(16,)
(21,)
(18,)

Write an SQL query to fetch nth max salaries from a table.

In [23]:
cursor =conn.execute("select * from ((select * from Employee ORDER BY `Salary` DESC limit 3 ) AS T) ORDER BY T.`Salary` ASC limit 1;");
for rows in cursor:
  print("3rd max salary",rows)

3rd max salary (2, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')

Write an SQL query to print the FIRST_NAME from the Worker table after replacing ‘a’ with ‘A’.

In [24]:
cursor =conn.execute("Select REPLACE(First_Name,'a','A') from Employee");
for rows in cursor:
  print(rows)

('SidhArth',)
('AAdhityA',)
('AAdhityA',)
('MonA',)
('AnupAmA',)
('Sibin',)
('AkshAi',)
('KrithikA',)
('Adithi',)
('AbhinAyA',)
('Jismi',)
('DhivyA',)
('Cyril',)
('KeerthigA',)
('LAxmi',)
('ShivA',)
('PAdmA',)
('KAvi',)
('RAj',)
('DhAnyA',)
('RAj',)
('DhAnyA',)
('BhArAth',)
('Abdhul',)
('Abhishek',)
('RAmesh',)
('SAnthosh',)
('Vignesh',)
('HAri',)
('SAi',)
('TAmil',)
('SenthAmizh',)
('LingA',)
('RAheemA',)
('VAsAnthA',)
('ShivA',)
('KAmAlA',)
('IniyAn',)
('KribA',)
('SAthish',)
('ShivA',)
('SukirthA',)
('MAthi',)
('KArthigAi',)
('Kishore',)
('Henry',)
('PrAbhu',)
('Kithur',)
('BAlA',)
('SAthyA',)
('ShAnmugA',)
('Gowry',)
('Sibin',)

Write an SQL query to print all Worker details from the Worker table order FIRST_NAME Ascending and DEPARTMENT Descending.

In [25]:
cursor =conn.execute("Select * from Employee order by First_Name asc,Department desc");
for rows in cursor:
  print(rows)

(2, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(24, 'Abdhul', 'Hameed', 'abdhulhameed@guvi.com', 'Senior Software Engineer', 60000, '12-06-2019')
(10, 'Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', 20000, '12-10-2021')
(25, 'Abhishek', 'Sharma', 'abhisheksharma@guvi.com', 'System Analyst', 50000, '22-05-2018')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')
(23, 'Bharath', 'Raj', 'bharathraj@guvi.com', 'Software Engineer', 40000, '28-09-2021')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(20, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(22, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(12, 'Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', 45000, '05-12-2021')
(52, 'Gowry', 'Shankar', 'gowryshankar@guvi.com', 'Senior Software Engineer', 55000, '10-08-2017')
(29, 'Hari', 'Doss', 'haridoss@guvi.com', 'Web Developer', 20000, '16-06-2019')
(46, 'Henry', 'Roshan', 'henryroshan@guvi.com', 'Web Developer', 20000, '10-09-2019')
(38, 'Iniyan', 'Venkat', 'iniyanvenkat@guvi.com', 'Software Developer', 30000, '20-02-2020')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(37, 'Kamala', 'Devi', 'kamaladevi@guvi.com', 'Mobile Developer', 25000, '05-07-2020')
(44, 'Karthigai', 'Selvi', 'karthigaiselvi@guvi.com', 'Web Developer', 25000, '13-03-2019')
(18, 'Kavi', 'Arasan', 'kaviarasan@guvi.com', 'Software Engineer', 40000, '23-05-2020')
(14, 'Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', 50000, '02-07-2009')
(45, 'Kishore', 'Kannan', 'kishorekannan@guvi.com', 'Network Administrator', 40000, '11-09-2021')
(48, 'Kithur', 'Sumaresh', 'kithursumaresh@guvi.com', 'Mobile Developer', 25000, '17-10-2020')
(39, 'Kriba', 'Karan', 'kribakaran@guvi.com', 'Mobile Developer', 30000, '31-05-2021')
(8, 'Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', 28000, '23-10-2021')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(43, 'Mathi', 'Azhagan', 'mathiazhagan@guvi.com', 'Network Administrator', 40000, '15-06-2017')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(17, 'Padma', 'Priya', 'padmapriya@guvi.com', 'Software Engineer', 35000, '01-08-2019')
(47, 'Prabhu', 'Deva', 'prabhudeva@guvi.com', 'System Analyst', 50000, '11-11-2011')
(34, 'Raheema', 'Sulthana', 'raheemasulthana@guvi.com', 'Software Engineer', 40000, '17-09-2020')
(19, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(21, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(26, 'Ramesh', 'Babu', 'rameshbabu@guvi.com', 'Senior Software Engineer', 60000, '17-06-2018')
(30, 'Sai', 'Balaji', 'saibalaji@guvi.com', 'Mobile Developer', 25000, '12-09-2019')
(27, 'Santhosh', 'Kumar', 'santhoshkumar@guvi.com', 'System Analyst', 50000, '22-06-2020')
(40, 'Sathish', 'Kumar', 'sathishkumar@guvi.com', 'System Analyst', 45000, '17-09-2019')
(50, 'Sathya', 'Priya', 'sathyapriya@guvi.com', 'Mobile Developer', 30000, '19-10-2019')
(32, 'Senthamizh', 'Selvan', 'senthamizhselvan@guvi.com', 'Network Administrator', 40000, '16-11-2021')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(41, 'Shiva', 'Ranjani', 'shivaranjani@guvi.com', 'Software Engineer', 40000, '23-05-2019')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')
(36, 'Shiva', 'Raj', 'shivaraj@guvi.com', 'Network Administrator', 40000, '14-08-2017')
(6, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 45000, '15-10-2013')
(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')
(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(42, 'Sukirtha', 'Sri', 'sukirthasri@guvi.com', 'Web Developer', 25000, '19-10-2021')
(31, 'Tamil', 'Arasu', 'tamilarasu@guvi.com', 'Web Developer', 20000, '28-09-2021')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')
(28, 'Vignesh', 'kumar', 'vigneshkumar@guvi.com', 'Data Scientist', 70000, '22-03-2020')

Write an SQL query to fetch the names of workers who earn the highest salary.

In [26]:
cursor =conn.execute("select Department, max(Salary) from Employee group by Department");
for rows in cursor:
  print(rows)

('Data Scientist', 70000)
('Game Developer', 28000)
('Hardware Engineer', 20000)
('Mobile Developer', 30000)
('Network Administrator', 40000)
('Senior Software Engineer', 65000)
('Software Application Packager', 55000)
('Software Developer', 30000)
('Software Engineer', 50000)
('System Analyst', 50000)
('Web Developer', 25000)
('Web developer', 20000)

Write an SQL query to print details of workers excluding first names, “Ramesh” and “Santhosh” from the Worker table.

In [27]:
cursor =conn.execute("Select * from Employee where First_Name not in ('Ramesh','Santhosh')");
for rows in cursor:
  print(rows)

(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(2, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(6, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 45000, '15-10-2013')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(8, 'Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', 28000, '23-10-2021')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(10, 'Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', 20000, '12-10-2021')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(12, 'Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', 45000, '05-12-2021')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(14, 'Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', 50000, '02-07-2009')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')
(17, 'Padma', 'Priya', 'padmapriya@guvi.com', 'Software Engineer', 35000, '01-08-2019')
(18, 'Kavi', 'Arasan', 'kaviarasan@guvi.com', 'Software Engineer', 40000, '23-05-2020')
(19, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(20, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(21, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(22, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(23, 'Bharath', 'Raj', 'bharathraj@guvi.com', 'Software Engineer', 40000, '28-09-2021')
(24, 'Abdhul', 'Hameed', 'abdhulhameed@guvi.com', 'Senior Software Engineer', 60000, '12-06-2019')
(25, 'Abhishek', 'Sharma', 'abhisheksharma@guvi.com', 'System Analyst', 50000, '22-05-2018')
(28, 'Vignesh', 'kumar', 'vigneshkumar@guvi.com', 'Data Scientist', 70000, '22-03-2020')
(29, 'Hari', 'Doss', 'haridoss@guvi.com', 'Web Developer', 20000, '16-06-2019')
(30, 'Sai', 'Balaji', 'saibalaji@guvi.com', 'Mobile Developer', 25000, '12-09-2019')
(31, 'Tamil', 'Arasu', 'tamilarasu@guvi.com', 'Web Developer', 20000, '28-09-2021')
(32, 'Senthamizh', 'Selvan', 'senthamizhselvan@guvi.com', 'Network Administrator', 40000, '16-11-2021')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(34, 'Raheema', 'Sulthana', 'raheemasulthana@guvi.com', 'Software Engineer', 40000, '17-09-2020')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')
(36, 'Shiva', 'Raj', 'shivaraj@guvi.com', 'Network Administrator', 40000, '14-08-2017')
(37, 'Kamala', 'Devi', 'kamaladevi@guvi.com', 'Mobile Developer', 25000, '05-07-2020')
(38, 'Iniyan', 'Venkat', 'iniyanvenkat@guvi.com', 'Software Developer', 30000, '20-02-2020')
(39, 'Kriba', 'Karan', 'kribakaran@guvi.com', 'Mobile Developer', 30000, '31-05-2021')
(40, 'Sathish', 'Kumar', 'sathishkumar@guvi.com', 'System Analyst', 45000, '17-09-2019')
(41, 'Shiva', 'Ranjani', 'shivaranjani@guvi.com', 'Software Engineer', 40000, '23-05-2019')
(42, 'Sukirtha', 'Sri', 'sukirthasri@guvi.com', 'Web Developer', 25000, '19-10-2021')
(43, 'Mathi', 'Azhagan', 'mathiazhagan@guvi.com', 'Network Administrator', 40000, '15-06-2017')
(44, 'Karthigai', 'Selvi', 'karthigaiselvi@guvi.com', 'Web Developer', 25000, '13-03-2019')
(45, 'Kishore', 'Kannan', 'kishorekannan@guvi.com', 'Network Administrator', 40000, '11-09-2021')
(46, 'Henry', 'Roshan', 'henryroshan@guvi.com', 'Web Developer', 20000, '10-09-2019')
(47, 'Prabhu', 'Deva', 'prabhudeva@guvi.com', 'System Analyst', 50000, '11-11-2011')
(48, 'Kithur', 'Sumaresh', 'kithursumaresh@guvi.com', 'Mobile Developer', 25000, '17-10-2020')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')
(50, 'Sathya', 'Priya', 'sathyapriya@guvi.com', 'Mobile Developer', 30000, '19-10-2019')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(52, 'Gowry', 'Shankar', 'gowryshankar@guvi.com', 'Senior Software Engineer', 55000, '10-08-2017')
(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')

Write an SQL query to print details of the Workers whose FIRST_NAME ends with ‘h’ and contains six alphabets

In [28]:
cursor =conn.execute("Select * from Employee where First_Name like '_____h'");
for rows in cursor:
  print(rows)

(26, 'Ramesh', 'Babu', 'rameshbabu@guvi.com', 'Senior Software Engineer', 60000, '17-06-2018')

Write a query to validate Email of Employee (email should have first name last name and guvi.com example (first name=Kamal last name= raja and the mail id should be kamalraja@guvi.com).

In [29]:
cursor =conn.execute("SELECT * FROM Employee WHERE Email_id LIKE '%@guvi.com'");
for rows in cursor:
  print(rows)

(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(2, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(6, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 45000, '15-10-2013')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(8, 'Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', 28000, '23-10-2021')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(10, 'Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', 20000, '12-10-2021')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(12, 'Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', 45000, '05-12-2021')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(14, 'Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', 50000, '02-07-2009')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')
(17, 'Padma', 'Priya', 'padmapriya@guvi.com', 'Software Engineer', 35000, '01-08-2019')
(18, 'Kavi', 'Arasan', 'kaviarasan@guvi.com', 'Software Engineer', 40000, '23-05-2020')
(19, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(20, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(21, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(22, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(23, 'Bharath', 'Raj', 'bharathraj@guvi.com', 'Software Engineer', 40000, '28-09-2021')
(24, 'Abdhul', 'Hameed', 'abdhulhameed@guvi.com', 'Senior Software Engineer', 60000, '12-06-2019')
(25, 'Abhishek', 'Sharma', 'abhisheksharma@guvi.com', 'System Analyst', 50000, '22-05-2018')
(26, 'Ramesh', 'Babu', 'rameshbabu@guvi.com', 'Senior Software Engineer', 60000, '17-06-2018')
(27, 'Santhosh', 'Kumar', 'santhoshkumar@guvi.com', 'System Analyst', 50000, '22-06-2020')
(28, 'Vignesh', 'kumar', 'vigneshkumar@guvi.com', 'Data Scientist', 70000, '22-03-2020')
(29, 'Hari', 'Doss', 'haridoss@guvi.com', 'Web Developer', 20000, '16-06-2019')
(30, 'Sai', 'Balaji', 'saibalaji@guvi.com', 'Mobile Developer', 25000, '12-09-2019')
(31, 'Tamil', 'Arasu', 'tamilarasu@guvi.com', 'Web Developer', 20000, '28-09-2021')
(32, 'Senthamizh', 'Selvan', 'senthamizhselvan@guvi.com', 'Network Administrator', 40000, '16-11-2021')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(34, 'Raheema', 'Sulthana', 'raheemasulthana@guvi.com', 'Software Engineer', 40000, '17-09-2020')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')
(36, 'Shiva', 'Raj', 'shivaraj@guvi.com', 'Network Administrator', 40000, '14-08-2017')
(37, 'Kamala', 'Devi', 'kamaladevi@guvi.com', 'Mobile Developer', 25000, '05-07-2020')
(38, 'Iniyan', 'Venkat', 'iniyanvenkat@guvi.com', 'Software Developer', 30000, '20-02-2020')
(39, 'Kriba', 'Karan', 'kribakaran@guvi.com', 'Mobile Developer', 30000, '31-05-2021')
(40, 'Sathish', 'Kumar', 'sathishkumar@guvi.com', 'System Analyst', 45000, '17-09-2019')
(41, 'Shiva', 'Ranjani', 'shivaranjani@guvi.com', 'Software Engineer', 40000, '23-05-2019')
(42, 'Sukirtha', 'Sri', 'sukirthasri@guvi.com', 'Web Developer', 25000, '19-10-2021')
(43, 'Mathi', 'Azhagan', 'mathiazhagan@guvi.com', 'Network Administrator', 40000, '15-06-2017')
(44, 'Karthigai', 'Selvi', 'karthigaiselvi@guvi.com', 'Web Developer', 25000, '13-03-2019')
(45, 'Kishore', 'Kannan', 'kishorekannan@guvi.com', 'Network Administrator', 40000, '11-09-2021')
(46, 'Henry', 'Roshan', 'henryroshan@guvi.com', 'Web Developer', 20000, '10-09-2019')
(47, 'Prabhu', 'Deva', 'prabhudeva@guvi.com', 'System Analyst', 50000, '11-11-2011')
(48, 'Kithur', 'Sumaresh', 'kithursumaresh@guvi.com', 'Mobile Developer', 25000, '17-10-2020')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')
(50, 'Sathya', 'Priya', 'sathyapriya@guvi.com', 'Mobile Developer', 30000, '19-10-2019')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(52, 'Gowry', 'Shankar', 'gowryshankar@guvi.com', 'Senior Software Engineer', 55000, '10-08-2017')
(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')

Write an SQL query to print details of the Workers who have joined in March ’2021.

In [30]:
cursor =conn.execute("Select * from Employee where (Join_Date) = 2021 and (Join_Date) = 3");
for rows in cursor:
  print(rows)

Write an SQL query to fetch duplicates that have matching data in some fields of a table.

In [31]:
cursor =conn.execute("SELECT Email_id, COUNT(Email_id) FROM Employee GROUP BY Email_id HAVING COUNT(Email_id) > 1");
for rows in cursor:
  print(rows)

('aadhityavarma@guvi.com', 2)
('dhanyasurabi@guvi.com', 2)
('rajkumar@guvi.com', 2)
('sibinxavier@guvi.com', 2)

How to remove duplicate rows from the Employees table.

In [32]:
cursor =conn.execute("DELETE FROM Employee WHERE S_No NOT IN (SELECT MAX(S_No) FROM Employee GROUP BY First_name,Last_name,Email_id,Department,Salary,Join_date)");
for rows in cursor:
  print(rows)

In [33]:
cursor =conn.execute("SELECT * from Employee");
for rows in cursor:
  print(rows)

(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(6, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 45000, '15-10-2013')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(8, 'Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', 28000, '23-10-2021')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(10, 'Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', 20000, '12-10-2021')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(12, 'Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', 45000, '05-12-2021')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(14, 'Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', 50000, '02-07-2009')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')
(17, 'Padma', 'Priya', 'padmapriya@guvi.com', 'Software Engineer', 35000, '01-08-2019')
(18, 'Kavi', 'Arasan', 'kaviarasan@guvi.com', 'Software Engineer', 40000, '23-05-2020')
(21, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(22, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(23, 'Bharath', 'Raj', 'bharathraj@guvi.com', 'Software Engineer', 40000, '28-09-2021')
(24, 'Abdhul', 'Hameed', 'abdhulhameed@guvi.com', 'Senior Software Engineer', 60000, '12-06-2019')
(25, 'Abhishek', 'Sharma', 'abhisheksharma@guvi.com', 'System Analyst', 50000, '22-05-2018')
(26, 'Ramesh', 'Babu', 'rameshbabu@guvi.com', 'Senior Software Engineer', 60000, '17-06-2018')
(27, 'Santhosh', 'Kumar', 'santhoshkumar@guvi.com', 'System Analyst', 50000, '22-06-2020')
(28, 'Vignesh', 'kumar', 'vigneshkumar@guvi.com', 'Data Scientist', 70000, '22-03-2020')
(29, 'Hari', 'Doss', 'haridoss@guvi.com', 'Web Developer', 20000, '16-06-2019')
(30, 'Sai', 'Balaji', 'saibalaji@guvi.com', 'Mobile Developer', 25000, '12-09-2019')
(31, 'Tamil', 'Arasu', 'tamilarasu@guvi.com', 'Web Developer', 20000, '28-09-2021')
(32, 'Senthamizh', 'Selvan', 'senthamizhselvan@guvi.com', 'Network Administrator', 40000, '16-11-2021')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(34, 'Raheema', 'Sulthana', 'raheemasulthana@guvi.com', 'Software Engineer', 40000, '17-09-2020')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')
(36, 'Shiva', 'Raj', 'shivaraj@guvi.com', 'Network Administrator', 40000, '14-08-2017')
(37, 'Kamala', 'Devi', 'kamaladevi@guvi.com', 'Mobile Developer', 25000, '05-07-2020')
(38, 'Iniyan', 'Venkat', 'iniyanvenkat@guvi.com', 'Software Developer', 30000, '20-02-2020')
(39, 'Kriba', 'Karan', 'kribakaran@guvi.com', 'Mobile Developer', 30000, '31-05-2021')
(40, 'Sathish', 'Kumar', 'sathishkumar@guvi.com', 'System Analyst', 45000, '17-09-2019')
(41, 'Shiva', 'Ranjani', 'shivaranjani@guvi.com', 'Software Engineer', 40000, '23-05-2019')
(42, 'Sukirtha', 'Sri', 'sukirthasri@guvi.com', 'Web Developer', 25000, '19-10-2021')
(43, 'Mathi', 'Azhagan', 'mathiazhagan@guvi.com', 'Network Administrator', 40000, '15-06-2017')
(44, 'Karthigai', 'Selvi', 'karthigaiselvi@guvi.com', 'Web Developer', 25000, '13-03-2019')
(45, 'Kishore', 'Kannan', 'kishorekannan@guvi.com', 'Network Administrator', 40000, '11-09-2021')
(46, 'Henry', 'Roshan', 'henryroshan@guvi.com', 'Web Developer', 20000, '10-09-2019')
(47, 'Prabhu', 'Deva', 'prabhudeva@guvi.com', 'System Analyst', 50000, '11-11-2011')
(48, 'Kithur', 'Sumaresh', 'kithursumaresh@guvi.com', 'Mobile Developer', 25000, '17-10-2020')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')
(50, 'Sathya', 'Priya', 'sathyapriya@guvi.com', 'Mobile Developer', 30000, '19-10-2019')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(52, 'Gowry', 'Shankar', 'gowryshankar@guvi.com', 'Senior Software Engineer', 55000, '10-08-2017')
(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')

Write an SQL query to show only odd rows from a table.

In [34]:
cursor =conn.execute("SELECT * FROM Employee WHERE S_NO%2 <>0");
for rows in cursor:
  print(rows)

(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(17, 'Padma', 'Priya', 'padmapriya@guvi.com', 'Software Engineer', 35000, '01-08-2019')
(21, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(23, 'Bharath', 'Raj', 'bharathraj@guvi.com', 'Software Engineer', 40000, '28-09-2021')
(25, 'Abhishek', 'Sharma', 'abhisheksharma@guvi.com', 'System Analyst', 50000, '22-05-2018')
(27, 'Santhosh', 'Kumar', 'santhoshkumar@guvi.com', 'System Analyst', 50000, '22-06-2020')
(29, 'Hari', 'Doss', 'haridoss@guvi.com', 'Web Developer', 20000, '16-06-2019')
(31, 'Tamil', 'Arasu', 'tamilarasu@guvi.com', 'Web Developer', 20000, '28-09-2021')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')
(37, 'Kamala', 'Devi', 'kamaladevi@guvi.com', 'Mobile Developer', 25000, '05-07-2020')
(39, 'Kriba', 'Karan', 'kribakaran@guvi.com', 'Mobile Developer', 30000, '31-05-2021')
(41, 'Shiva', 'Ranjani', 'shivaranjani@guvi.com', 'Software Engineer', 40000, '23-05-2019')
(43, 'Mathi', 'Azhagan', 'mathiazhagan@guvi.com', 'Network Administrator', 40000, '15-06-2017')
(45, 'Kishore', 'Kannan', 'kishorekannan@guvi.com', 'Network Administrator', 40000, '11-09-2021')
(47, 'Prabhu', 'Deva', 'prabhudeva@guvi.com', 'System Analyst', 50000, '11-11-2011')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')

Write an SQL query to clone a new table from another table.

In [35]:
cursor = conn.execute("CREATE TABLE EmployeeClone AS SELECT * FROM Employee");

In [36]:
cursor =conn.execute("SELECT * FROM EmployeeClone");
for rows in cursor:
  print(rows)

(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(6, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 45000, '15-10-2013')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(8, 'Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', 28000, '23-10-2021')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(10, 'Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', 20000, '12-10-2021')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(12, 'Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', 45000, '05-12-2021')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(14, 'Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', 50000, '02-07-2009')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')
(17, 'Padma', 'Priya', 'padmapriya@guvi.com', 'Software Engineer', 35000, '01-08-2019')
(18, 'Kavi', 'Arasan', 'kaviarasan@guvi.com', 'Software Engineer', 40000, '23-05-2020')
(21, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(22, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(23, 'Bharath', 'Raj', 'bharathraj@guvi.com', 'Software Engineer', 40000, '28-09-2021')
(24, 'Abdhul', 'Hameed', 'abdhulhameed@guvi.com', 'Senior Software Engineer', 60000, '12-06-2019')
(25, 'Abhishek', 'Sharma', 'abhisheksharma@guvi.com', 'System Analyst', 50000, '22-05-2018')
(26, 'Ramesh', 'Babu', 'rameshbabu@guvi.com', 'Senior Software Engineer', 60000, '17-06-2018')
(27, 'Santhosh', 'Kumar', 'santhoshkumar@guvi.com', 'System Analyst', 50000, '22-06-2020')
(28, 'Vignesh', 'kumar', 'vigneshkumar@guvi.com', 'Data Scientist', 70000, '22-03-2020')
(29, 'Hari', 'Doss', 'haridoss@guvi.com', 'Web Developer', 20000, '16-06-2019')
(30, 'Sai', 'Balaji', 'saibalaji@guvi.com', 'Mobile Developer', 25000, '12-09-2019')
(31, 'Tamil', 'Arasu', 'tamilarasu@guvi.com', 'Web Developer', 20000, '28-09-2021')
(32, 'Senthamizh', 'Selvan', 'senthamizhselvan@guvi.com', 'Network Administrator', 40000, '16-11-2021')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(34, 'Raheema', 'Sulthana', 'raheemasulthana@guvi.com', 'Software Engineer', 40000, '17-09-2020')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')
(36, 'Shiva', 'Raj', 'shivaraj@guvi.com', 'Network Administrator', 40000, '14-08-2017')
(37, 'Kamala', 'Devi', 'kamaladevi@guvi.com', 'Mobile Developer', 25000, '05-07-2020')
(38, 'Iniyan', 'Venkat', 'iniyanvenkat@guvi.com', 'Software Developer', 30000, '20-02-2020')
(39, 'Kriba', 'Karan', 'kribakaran@guvi.com', 'Mobile Developer', 30000, '31-05-2021')
(40, 'Sathish', 'Kumar', 'sathishkumar@guvi.com', 'System Analyst', 45000, '17-09-2019')
(41, 'Shiva', 'Ranjani', 'shivaranjani@guvi.com', 'Software Engineer', 40000, '23-05-2019')
(42, 'Sukirtha', 'Sri', 'sukirthasri@guvi.com', 'Web Developer', 25000, '19-10-2021')
(43, 'Mathi', 'Azhagan', 'mathiazhagan@guvi.com', 'Network Administrator', 40000, '15-06-2017')
(44, 'Karthigai', 'Selvi', 'karthigaiselvi@guvi.com', 'Web Developer', 25000, '13-03-2019')
(45, 'Kishore', 'Kannan', 'kishorekannan@guvi.com', 'Network Administrator', 40000, '11-09-2021')
(46, 'Henry', 'Roshan', 'henryroshan@guvi.com', 'Web Developer', 20000, '10-09-2019')
(47, 'Prabhu', 'Deva', 'prabhudeva@guvi.com', 'System Analyst', 50000, '11-11-2011')
(48, 'Kithur', 'Sumaresh', 'kithursumaresh@guvi.com', 'Mobile Developer', 25000, '17-10-2020')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')
(50, 'Sathya', 'Priya', 'sathyapriya@guvi.com', 'Mobile Developer', 30000, '19-10-2019')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(52, 'Gowry', 'Shankar', 'gowryshankar@guvi.com', 'Senior Software Engineer', 55000, '10-08-2017')
(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')

Write an SQL query to fetch intersecting records of two tables.

In [37]:
cursor =conn.execute("SELECT * FROM Employee INTERSECT SELECT * FROM EmployeeClone");
for rows in cursor:
  print(rows)

(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(6, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 45000, '15-10-2013')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(8, 'Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', 28000, '23-10-2021')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(10, 'Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', 20000, '12-10-2021')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(12, 'Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', 45000, '05-12-2021')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(14, 'Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', 50000, '02-07-2009')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')
(17, 'Padma', 'Priya', 'padmapriya@guvi.com', 'Software Engineer', 35000, '01-08-2019')
(18, 'Kavi', 'Arasan', 'kaviarasan@guvi.com', 'Software Engineer', 40000, '23-05-2020')
(21, 'Raj', 'Kumar', 'rajkumar@guvi.com', 'Software Application Packager', 55000, '01-06-2019')
(22, 'Dhanya', 'Surabi', 'dhanyasurabi@guvi.com', 'Mobile Developer', 30000, '05-07-2020')
(23, 'Bharath', 'Raj', 'bharathraj@guvi.com', 'Software Engineer', 40000, '28-09-2021')
(24, 'Abdhul', 'Hameed', 'abdhulhameed@guvi.com', 'Senior Software Engineer', 60000, '12-06-2019')
(25, 'Abhishek', 'Sharma', 'abhisheksharma@guvi.com', 'System Analyst', 50000, '22-05-2018')
(26, 'Ramesh', 'Babu', 'rameshbabu@guvi.com', 'Senior Software Engineer', 60000, '17-06-2018')
(27, 'Santhosh', 'Kumar', 'santhoshkumar@guvi.com', 'System Analyst', 50000, '22-06-2020')
(28, 'Vignesh', 'kumar', 'vigneshkumar@guvi.com', 'Data Scientist', 70000, '22-03-2020')
(29, 'Hari', 'Doss', 'haridoss@guvi.com', 'Web Developer', 20000, '16-06-2019')
(30, 'Sai', 'Balaji', 'saibalaji@guvi.com', 'Mobile Developer', 25000, '12-09-2019')
(31, 'Tamil', 'Arasu', 'tamilarasu@guvi.com', 'Web Developer', 20000, '28-09-2021')
(32, 'Senthamizh', 'Selvan', 'senthamizhselvan@guvi.com', 'Network Administrator', 40000, '16-11-2021')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(34, 'Raheema', 'Sulthana', 'raheemasulthana@guvi.com', 'Software Engineer', 40000, '17-09-2020')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')
(36, 'Shiva', 'Raj', 'shivaraj@guvi.com', 'Network Administrator', 40000, '14-08-2017')
(37, 'Kamala', 'Devi', 'kamaladevi@guvi.com', 'Mobile Developer', 25000, '05-07-2020')
(38, 'Iniyan', 'Venkat', 'iniyanvenkat@guvi.com', 'Software Developer', 30000, '20-02-2020')
(39, 'Kriba', 'Karan', 'kribakaran@guvi.com', 'Mobile Developer', 30000, '31-05-2021')
(40, 'Sathish', 'Kumar', 'sathishkumar@guvi.com', 'System Analyst', 45000, '17-09-2019')
(41, 'Shiva', 'Ranjani', 'shivaranjani@guvi.com', 'Software Engineer', 40000, '23-05-2019')
(42, 'Sukirtha', 'Sri', 'sukirthasri@guvi.com', 'Web Developer', 25000, '19-10-2021')
(43, 'Mathi', 'Azhagan', 'mathiazhagan@guvi.com', 'Network Administrator', 40000, '15-06-2017')
(44, 'Karthigai', 'Selvi', 'karthigaiselvi@guvi.com', 'Web Developer', 25000, '13-03-2019')
(45, 'Kishore', 'Kannan', 'kishorekannan@guvi.com', 'Network Administrator', 40000, '11-09-2021')
(46, 'Henry', 'Roshan', 'henryroshan@guvi.com', 'Web Developer', 20000, '10-09-2019')
(47, 'Prabhu', 'Deva', 'prabhudeva@guvi.com', 'System Analyst', 50000, '11-11-2011')
(48, 'Kithur', 'Sumaresh', 'kithursumaresh@guvi.com', 'Mobile Developer', 25000, '17-10-2020')
(49, 'Bala', 'Shankar', 'balashankar@guvi.com', 'Software Developer', 30000, '21-10-2017')
(50, 'Sathya', 'Priya', 'sathyapriya@guvi.com', 'Mobile Developer', 30000, '19-10-2019')
(51, 'Shanmuga', 'Priya', 'shanmugapriya@guvi.com', 'Software Engineer', 40000, '08-06-2020')
(52, 'Gowry', 'Shankar', 'gowryshankar@guvi.com', 'Senior Software Engineer', 55000, '10-08-2017')
(53, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 40000, '20-02-2015')

Write an SQL query to show records from one table that another table does not have.

In [38]:
cursor =conn.execute("SELECT * FROM Employee EXCEPT SELECT * FROM EmployeeClone");
for rows in cursor:
  print(rows)

Write an SQL query to show the top n (say 15) records of a table

In [39]:
cursor =conn.execute("SELECT * FROM Employee ORDER BY S_No ASC LIMIT 15");
for rows in cursor:
  print(rows)

(1, 'Sidharth', 'Abhimanyu', 'sidharthabhimanyu@guvi.com', 'Web developer', 20000, '05-05-2020')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(5, 'Anupama', 'Nair', 'anupamanair@guvi.com', 'Software Engineer', 40000, '21-01-2015')
(6, 'Sibin', 'Xavier', 'sibinxavier@guvi.com', 'Software Engineer', 45000, '15-10-2013')
(7, 'Akshai', 'Kumar', 'akshaikumar@guvi.com', 'System Analyst', 50000, '04-07-2017')
(8, 'Krithika', 'Shankari', 'krithikashankari@guvi.com', 'Game Developer', 28000, '23-10-2021')
(9, 'Adithi', 'Rao', 'adithirao@guvi.com', 'Hardware Engineer', 20000, '23-05-2020')
(10, 'Abhinaya', 'Shree', 'abhinayashree@guvi.com', 'Web Developer', 20000, '12-10-2021')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(12, 'Dhivya', 'Bharathi', 'dhivyabharathi@guvi.com', 'Software Engineer', 45000, '05-12-2021')
(13, 'Cyril', 'Mol', 'cyrilmol@guvi.com', 'Software Engineer', 45000, '12-05-2022')
(14, 'Keerthiga', 'Devi', 'keerthigadevi@guvi.com', 'Software Engineer', 50000, '02-07-2009')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')

Write an SQL query to determine the nth (say n=10) highest salary from a table.

In [40]:
cursor =conn.execute("SELECT * FROM Employee ORDER BY Salary DESC LIMIT 10");
for rows in cursor:
  print(rows)

(28, 'Vignesh', 'kumar', 'vigneshkumar@guvi.com', 'Data Scientist', 70000, '22-03-2020')
(3, 'Aadhitya', 'Varma', 'aadhityavarma@guvi.com', 'Senior Software Engineer', 65000, '12-05-2010')
(4, 'Mona', 'Varghese', 'monavarghese@guvi.com', 'Senior Software Engineer', 65000, '12-10-2011')
(11, 'Jismi', 'Mary', 'jismimary@guvi.com', 'Senior Software Engineer', 60000, '12-12-2011')
(15, 'Laxmi', 'Prabha', 'laxmiprabha@guvi.com', 'Senior Software Engineer', 60000, '25-07-2010')
(16, 'Shiva', 'Senthil', 'shivasenthil@guvi.com', 'Senior Software Engineer', 60000, '08-11-2010')
(24, 'Abdhul', 'Hameed', 'abdhulhameed@guvi.com', 'Senior Software Engineer', 60000, '12-06-2019')
(26, 'Ramesh', 'Babu', 'rameshbabu@guvi.com', 'Senior Software Engineer', 60000, '17-06-2018')
(33, 'Linga', 'Mithra', 'lingamithra@guvi.com', 'Senior Software Engineer', 60000, '27-04-2019')
(35, 'Vasantha', 'Mohan', 'vasanthamohan@guvi.com', 'Senior Software Engineer', 60000, '11-11-2017')

Write an SQL query to determine the 8th highest salary without using TOP or LIMIT methods.

In [41]:
cursor =conn.execute("SELECT Salary FROM Employee E1 WHERE 8-1 = (SELECT COUNT( DISTINCT ( E2.Salary ))FROM Employee E2 WHERE E2.Salary >= E1.Salary)");
for rows in cursor:
  print("8th highest salary:",rows)
  break

8th highest salary: (40000,)

Write an SQL query to fetch the list of employees with the same salary.

In [42]:
cursor =conn.execute("Select distinct E.S_No, E.First_Name, E.Salary from Employee E, Employee E1 where E.Salary = E1.Salary and E.S_No != E1.S_No");
for rows in cursor:
  print(rows)

(1, 'Sidharth', 20000)
(3, 'Aadhitya', 65000)
(4, 'Mona', 65000)
(5, 'Anupama', 40000)
(6, 'Sibin', 45000)
(7, 'Akshai', 50000)
(9, 'Adithi', 20000)
(10, 'Abhinaya', 20000)
(11, 'Jismi', 60000)
(12, 'Dhivya', 45000)
(13, 'Cyril', 45000)
(14, 'Keerthiga', 50000)
(15, 'Laxmi', 60000)
(16, 'Shiva', 60000)
(18, 'Kavi', 40000)
(21, 'Raj', 55000)
(22, 'Dhanya', 30000)
(23, 'Bharath', 40000)
(24, 'Abdhul', 60000)
(25, 'Abhishek', 50000)
(26, 'Ramesh', 60000)
(27, 'Santhosh', 50000)
(29, 'Hari', 20000)
(30, 'Sai', 25000)
(31, 'Tamil', 20000)
(32, 'Senthamizh', 40000)
(33, 'Linga', 60000)
(34, 'Raheema', 40000)
(35, 'Vasantha', 60000)
(36, 'Shiva', 40000)
(37, 'Kamala', 25000)
(38, 'Iniyan', 30000)
(39, 'Kriba', 30000)
(40, 'Sathish', 45000)
(41, 'Shiva', 40000)
(42, 'Sukirtha', 25000)
(43, 'Mathi', 40000)
(44, 'Karthigai', 25000)
(45, 'Kishore', 40000)
(46, 'Henry', 20000)
(47, 'Prabhu', 50000)
(48, 'Kithur', 25000)
(49, 'Bala', 30000)
(50, 'Sathya', 30000)
(51, 'Shanmuga', 40000)
(52, 'Gowry', 55000)
(53, 'Sibin', 40000)